# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# .env.local
# .env.development
# .env.production

# turbo
.turbo

# Vercel
.vercel

# convex
convex/_generated/

# trunk
.trunk/

# vscode
.vscode

# etc (temporary files)
.etc/

# prisma
prisma/.env

# Large migration data files
# migration-data-source/
# migration-data-fixed/

sql-debug/

# Wrangler
.wrangler/

.markdownlint.json